<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src ="scripts/client-validation.js" defer></script>
    <title>Create a New Post</title>
</head>
<body>

    <div class="form-container">
        <h1>Create a New Post</h1>
        <form action="/submit" method="post" id="post-blog">

            <input type="text" name="author" placeholder="Author" id="author">\
            <span class="err" id="err-author">Author is required and can't contain numbers</span>

            <input type="text" name="title" placeholder="Title" id="title" >
            <span class="err" id ="err-title">Title is required</span>

            <textarea name="content" placeholder="Write your post..." id="content"></textarea>
            <span class="err" id="err-content">Content is required and over 10 characters</span>

            <button type="submit">Submit</button>

        </form>
    </div>

</body>
</html>
