<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat a New Post</title>
</head>
<body>
    
  <h1>Creat a New Post</h1>
  <form action="submit" method="post">
    <fieldset>
        <lable>
             <input type ="text" name="author" >
        </lable>

        <lable>
            <input type="text" name="title">
        </lable>

    <label>
        <input type="text" name="content">
    </label>
    </fieldset>
        <button type="submit">Submit</button>
  </form>
    
</body>
</html>